@use "./npb-colors.scss";
@use "./npb-colors-applied.scss";

:root {
  --bar-width: 7px;
  --narrow-bar-width: 2px;
  --bg-color: cornsilk;
}
.frame {
  box-sizing: border-box;
  width: 1152px;
  height: 648px;
  margin: 1rem auto;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  position: relative;
  &:before,
  &:after {
    position: absolute;
    color: var(--team-color);
    background: var(--team-bgcolor);
  }
  &:before {
    content: attr(data-desc);
    top: 1rem;
    left: 35%;
    white-space: pre;
    text-align: center;
    line-height: 1;
    font-family: sans-serif;
    font-weight: bolder;
  }
  &:after {
    content: attr(data-team);
    top: 4px;
    right: 4px;
    font-size: 100px;
    font-family: 'Meow Script', cursive;
    padding: .25em .5em;
  }
}
.bar {
  min-width: var(--bar-width);
  flex: 1;
  height: 100%;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid transparent;
  &:hover {
    cursor: pointer;
  }
}
.upper,.lower {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upper {
  justify-content: flex-end;
  background: var(--team-bgcolor, blue);
  background-image: repeating-linear-gradient(0deg, var(--team-bgcolor), var(--team-bgcolor) 90px, var(--team-color) 09px, var(--team-color) 91px);
}
.lower {
  justify-content: flex-start;
  box-sizing: border-box;
  border-top: var(--narrow-bar-width) solid var(--team-color, crimson);
  background-image: repeating-linear-gradient(180deg, var(--team-bgcolor), var(--team-bgcolor) 90px, lightgray 09px, lightgray 91px);
}
.upper .rdiff {
  background: var(--team-color, blue);
  opacity: 1;
}
.lower .rdiff {
  background: var(--team-color, crimson);
}
.rdiff {
  width: 100%;
}
.rs, .ra {
  width: var(--narrow-bar-width);
}
.rs {
  background: var(--team-color, blue);
}
.ra {
  background: var(--team-color, crimson);
}

.team-selector {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  padding: 0;
  width: 1152px;
  height: 2rem;
  li {
    list-style: none;
    text-align: center;
    padding: .25em .5em;
    flex:1;
    color: #fff;
    background: var(--team-color, lightgray);
    &:hover {
      cursor: pointer;
      padding: .4em .5em;
    }
  }
}

.desc {
  margin: 1rem auto;
  text-align: center;
}